body {
  background: #eee;
  padding: 0 25px;
  text-align: center;
}


#main {
  margin-top: 3em;
  margin-bottom:1.5em;
  background-color: #fff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.5);
  font-size: 1em;
  border-radius: 3px;
}

#rsvp-form{
  margin: 1.5em auto;
  text-align: center;
}

#rsvp-form input{
  display: inline-block;
}

#rsvp-form label{
  font-family: 'Raleway', serif;
  text-align: center;
  font-size: 1em;
}

.form-input{
  margin: 1em;
}

.johnstone-logo{
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
  margin:1em;
}

#main h2 {
  font-family: 'Kurale', serif;
  font-size: 2em;
  color:#e62739;
}

.header-container{
  background-image: url("../abstract-holiday-background.jpg");
}

#thank-you h2{
  font-family: 'Kurale', serif;
  font-size: 2em;
  color:#e62739;
}
